	<!--============ Club Section ==========================-->
	<section>
		<div class="container text-center">
			
			<div class="col-lg-12 text-center">
				<h2 style="font-family: 'Raleway', sans-serif;">CLUBS<br><br><br></h2>
			</div>
			
			<div class="row col-lg-12 text-center">
				
					<!-- Club part start -->
					<div class="col-lg-4" style="padding-bottom:30px" data-aos="fade-up">
						<!-- Change the club logo here -->
						<img src="img/raichur/club/xposure.jpeg" alt="Xposure | Club | IIIT Raichur | IIITians Network" style="width:250px;height:250px;text-align:center">
						<div>
							<!-- Add the club details here -->
							<h2 style="font-family: 'Raleway', sans-serif;">Xposure</h2>
							<h3>
								<a target="_blank" href="https://www.instagram.com/xposure.iiitr/"><i class="fa fa-instagram"></i></a>
								<a target="_blank" href="https://www.facebook.com/Xposure-Photography-Club-IIITR-101314841344442/"><i class="fa fa-facebook"></i></a>
								<a target="_blank" href="https://www.youtube.com/channel/UC6aCBD8hLAJzg7V50CEcX3g"><i class="fa fa-youtube"></i></a>
								<a href="mailto:xposure@iiitr.ac.in"><i class="fa fa-envelope"></i></a>   
							</h3>
							<p class="title">Photography Club</p>
						</div>
				    </div>
				    <!-- Club part end -->
				    
				    <div class=" col-lg-4" style="padding-bottom:20px" data-aos="fade-up">
						<img src="img/raichur/club/ebsb.jpg" alt="EBSB | Club | IIIT Raichur | IIITians Network" style="width:250px;height:250px;text-align:center">
						<div>
							<h2 style="font-family: 'Raleway', sans-serif;">EBSB</h2>
							<h3>
								<a target="_blank" href="https://www.instagram.com/ebsb_iiitr"><i class="fa fa-instagram"></i></a>
								<a target="_blank" href="https://m.facebook.com/profile.php?id=104850414373870&ref=content_filter"><i class="fa fa-facebook"></i></a>
								<a target="_blank" href="https://twitter.com/EIiitr?s=08"><i class="fa fa-twitter"></i></a>
								<a href="mailto:ebsb@iiitr.ac.in"><i class="fa fa-envelope"></i></a>   
							</h3>
							<p class="title">Ek Bharat Shrestha Bharat</p>
						</div>
				    </div>
				    
				    <div class=" col-lg-4" style="padding-bottom:20px" data-aos="fade-up">
						<img src="img/raichur/club/sunshine.png" alt="Sunshine | Club | IIIT Raichur | IIITians Network" style="width:250px;height:250px;text-align:center">
						<div>
							<h2 style="font-family: 'Raleway', sans-serif;">Sunshine</h2>
							<h3>
								<a href="mailto:office.sunshine@campus.iith.ac.in"><i class="fa fa-envelope"></i></a>   
								<a target="_blank" href="http://sunshine.iith.ac.in/"><i class="fa fa-globe"></i></a>
							</h3>
							<p class="title">Student Counselling Club</p>
						</div>
				    </div>
				    
					<div class=" col-lg-4" style="padding-bottom:20px" data-aos="fade-up">
						<img src="img/raichur/club/electrogeeks.jpeg" alt="Electrogeeks  | Club | IIIT Raichur | IIITians Network" style="width:250px;height:250px;text-align:center">
						<div>
							<h2 style="font-family: 'Raleway', sans-serif;">Electrogeeks</h2>
							<h3>
								<a href="mailto:electrogeeks@iiitr.ac.in"><i class="fa fa-envelope"></i></a>   
							</h3>
							<p class="title">The Robotics Club</p>
						</div>
				    </div>
				    
				    
				    <div class=" col-lg-4" style="padding-bottom:20px" data-aos="fade-up">
						<img src="img/raichur/club/finesse.jpeg" alt="Finesse | Club | IIIT Raichur | IIITians Network" style="width:250px;height:250px;text-align:center">
						<div>
							<h2 style="font-family: 'Raleway', sans-serif;">Finesse</h2>
							<h3>
								<a href="mailto:cult@iiitr.ac.in"><i class="fa fa-envelope"></i></a>   
							</h3>
							<p class="title">The Cultural Club</p>
						</div>
				    </div>
				    
				    
				    <div class=" col-lg-4" style="padding-bottom:20px" data-aos="fade-up">
						<img src="img/raichur/club/codesoc.jpg" alt="CodeSoc  | Club | IIIT Raichur | IIITians Network" style="width:250px;height:250px;text-align:center">
						<div>
							<h2 style="font-family: 'Raleway', sans-serif;">CodeSoc</h2>
							<h3>
								<a href="mailto:code_soc@iiitr.ac.in"><i class="fa fa-envelope"></i></a>   
							</h3>
							<p class="title">The Coding Club</p>
						</div>
				    </div>								
			
			</div>
		</div>
	</section>
	<!--================== Club section ended ==============-->

