
    <!-- ======= Footer ======= -->
    
    <!-- No need to change anything in footer area -->
    <footer id="footer">

        <!--div class="footer-newsletter" data-aos="fade-up">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h4>Join Our Community</h4>
                        <p>Help us in this idea for uniting all IIITs</p>
                        <form action="https://formspree.io/xeqrqzrv" method="post">
                            <input type="email" name="email"><input type="submit" value="Subscribe">
                        </form>
                    </div>
                </div>
            </div>
        </div-->

        <div class="footer-top">
            <div class="container">
					 
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact" data-aos="fade-up" data-aos-delay="100">
                        <h3>IIITians Network</h3>
                        <p>
                            A never ending connection...<br><br>
                            <strong>Email:</strong> iiitiansnetwork@gmail.com<br>
			    <strong>Hit Counter</strong><br><a href="https://www.freecounterstat.com" target="_blank" title="free hit counters"><img src="https://counter3.stat.ovh/private/freecounterstat.php?c=am3swfnxwq8cga496ku7nw7ebfcg8rfq" border="0" title="free hit counters" alt="free hit counters"></a><br>	
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links" data-aos="fade-up" data-aos-delay="200">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://iiitiansnetwork.com/" target="_blank">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://iiitiansnetwork.com/" target="_blank">News</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://alliiit.iiitiansnetwork.com/" target="_blank">All IIIT</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://contact.iiitiansnetwork.com/" target="_blank">Contact Us</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links" data-aos="fade-up" data-aos-delay="300">
                        <h4>Our Community</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="http://team.iiitiansnetwork.com/" target="_blank">Core Team</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="http://team.iiitiansnetwork.com/#web" target="_blank">Web Team</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="http://team.iiitiansnetwork.com/#design" target="_blank">Design Team</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="http://team.iiitiansnetwork.com/#design" target="_blank">Animation Team</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links" data-aos="fade-up" data-aos-delay="400">
                        <h4>Our Social Networks</h4>
                        <p>Follow us to stay connected with IIITs</p>
                        <div class="social-links mt-3">
                            <a href="https://www.facebook.com/iiitians.network/?fref=tag" class="facebook" target="_blank"><i class="bx bxl-facebook"></i></a>
                            <a href="https://www.instagram.com/iiitians.network/" class="instagram" target="_blank"><i class="bx bxl-instagram"></i></a> 
                            <a href="https://www.linkedin.com/company/53184003" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a> 
                            <a href="https://www.youtube.com/channel/UCFlPhj8XnKBWc1cNSC8IedA" target="_blank" class="linkedin"><i class="bx bxl-youtube"></i></a>
                            <a href="https://twitter.com/iiitiansnetwork" class="linkedin" target="_blank"><i class="bx bxl-twitter"></i></a>  
                        </div>
                        <p><br>Manage by <a href="https://vibhanshujainiiitr.github.io" target="_blank"><b>Vibhanshu Jain</b></a><br><br>
						  <!--Institute Representative <b>Vibhanshu Jain</b-->
						  These students of IIIT Raichur have credits, authorities and the responsibilities to manage this page.
						</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="container py-4">
			<div class="copyright">
                &copy; Copyright <strong><span>IIITians Network</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/ninestars-free-bootstrap-3-theme-for-creative/ -->
                Powered by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer><!-- End Footer -->
