    <!--======== Image Grid  ================= -->
    <section id="grid">
            <div class="container-fluid" style="text-align:center">

                <div class="section-title" data-aos="fade-up">
                    <h2 style="font-family: 'Raleway', sans-serif;">Some Images</h2>
                    <p></p>
                </div>
                
                <!-- Photo Grid -->
				<div class="row" data-aos="fade-up"> 
					<div class="column col-lg-3 col-6">
						<img src="img/raichur/grid/11.jpeg" alt="IIIT-Raichur | IIITians Network" style="width:100%">
						<img src="img/raichur/grid/12.jpeg" alt="IIIT-Raichur | IIITians Network" style="width:100%">
						<img src="img/raichur/grid/13.jpeg" alt="IIIT-Raichur | IIITians Network" style="width:100%">
						<img src="img/raichur/grid/14.jpeg" alt="IIIT-Raichur | IIITians Network" style="width:100%">
					</div>
				    <div class="column col-lg-3 col-6">
						<img src="img/raichur/grid/21.jpeg" alt="IIIT-Raichur | IIITians Network" style="width:100%">
						<img src="img/raichur/grid/22.jpeg" alt="IIIT-Raichur | IIITians Network" style="width:100%">
                    	<img src="img/raichur/grid/23.jpeg" alt="IIIT-Raichur | IIITians Network" style="width:100%">
						<img src="img/raichur/grid/24.jpeg" alt="IIIT-Raichur | IIITians Network" style="width:100%">
						<img src="img/raichur/grid/25.jpeg" alt="IIIT-Raichur | IIITians Network" style="width:100%">
					</div>
		            <div class="column col-lg-3 col-6">
						<img src="img/raichur/grid/31.jpeg" alt="IIIT-Raichur | IIITians Network" style="width:100%">
						<img src="img/raichur/grid/32.jpeg" alt="IIIT-Raichur | IIITians Network" style="width:100%">					
						<img src="img/raichur/grid/33.jpeg" alt="IIIT-Raichur | IIITians Network" style="width:100%">
						<img src="img/raichur/grid/34.jpeg" alt="IIIT-Raichur | IIITians Network" style="width:100%">
					</div>
		            <div class="column col-lg-3 col-6" >
						<img src="img/raichur/grid/41.jpeg" alt="IIIT-Raichur | IIITians Network" style="width:100%">
						<img src="img/raichur/grid/42.jpeg" alt="IIIT-Raichur | IIITians Network" style="width:100%">						
						<img src="img/raichur/grid/43.jpeg" alt="IIIT-Raichur | IIITians Network" style="width:100%">
						<img src="img/raichur/grid/44.jpeg" alt="IIIT-Raichur | IIITians Network" style="width:100%">
					</div>  
				</div>

            </div>
        </section>
    <!--============= Image Grid section over===============-->    

